img{
	height:200;
}

h2{
	color:#4169E1; 
	font-size: 30px;;
	border-radius:5px;
}

p{
	color: gray;
	fon-size:15px;
}

.bird{
	border-color:red; 
	padding: 5px;
	margin-top:50px;
	border-radius:3px;
	text-align:center;
	}

#head{
	text-align: center;
	color:white;
	background-image:url("image/iceland.jpg");
	background-size: 1200px 300px;
	height:300px;
	padding:70px;
}

#footer{
	text-align:center; 
	margin-top:50px;
}

#footer a {
  color: #87CEFA;
  font-size: 30px;
}

#footer a:hover {
  color: gray;
}

.typeform-widget{
	margin-right:auto;
	margin-left:auto;
}